{% extends 'base.html' %}
{% block content %}
<title>Properties Prediction App</title>

<div align="center">
    <h1>Welcome to "Properties Predict App"</h1>
    <img src="{{url_for('static', filename='logo.png')}}" style="width: 400px; height: auto;" alt="Logo" />
    <p>
        This project focuses on predicting property prices using a machine learning model. It includes exploratory data analysis (EDA),
    </p>
    <p>
        preprocessing of the data, training an ElasticNet model, and creating a Flask application for predicting property prices based on user input.
    </p>
    <h3>So, Are you ready to start?</h3>
    <div style="display: flex; padding: 10px;">
        <div style="width: 33%;">
            <div class="d-grid gap-2 col-6 mx-auto">
                <a class="btn btn-outline-primary btn-lg" type="button" href="{{ url_for('prop_prediction') }}">Predict</a>
            </div>
        </div>
         <div style="width: 33%;">
            <div class="d-grid gap-2 col-6 mx-auto">
                <a class="btn btn-outline-primary btn-lg" type="button" href="{{ url_for('about_us') }}">The Team</a>
            </div>
        </div>
        <div style="width: 33%;">
            <div class="d-grid gap-2 col-6 mx-auto">
                <a class="btn btn-outline-primary btn-lg" type="button" href="{{ url_for('about_the_project') }}">The Project</a>
            </div>
        </div>
    </div>

</div>
{% endblock %}
