{% extends 'base.html' %}
{% block content %}
<title>Properties Prediction App</title>

<div align="center">
    <h1>Welcome to "Properties Predict App"</h1>
    <img src="{{url_for('static', filename='logo.png')}}" style="width: 400px; height: auto;" alt="Logo" />
    <p>
        This project focuses on predicting property prices using a machine learning model. It includes exploratory data analysis (EDA),
    </p>
    <p>
        preprocessing of the data, training an ElasticNet model, and creating a Flask application for predicting property prices based on user input.
    </p>


</div>
{% endblock %}
